<%=form_with(model: @products , url: add_path, method: :post, local: false ) do |form|%>

    <div class="form">
    
        <%=form.label :name, "Product Name:"%>
        <%=form.text_field :name%>
        <%=form.label :price, "Price: "%>
        <%=form.text_field :price%>
        <%=form.label :description, "Description: "%>
        <%=form.text_field :description%>
        <%= form.submit%>

    </div>
<%end%>
